.hero-container {
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-image: url("../../assets/background.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container > img {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 80%;
    
    z-index: 1;

    // transition: top 0.5s linear, left 0.5s linear;
 }

// The actual text for the container.
.hero-container > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}