<mat-sidenav-container>

  <mat-sidenav #navbar mode="over">
    <ul>
      <li>Home</li>
      <li>Framedata</li>
      <li>About</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
  
    <mat-toolbar>
      <button mat-icon-button (click)="navbar.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Zato One</span>
    </mat-toolbar>

    <app-hero></app-hero>

    <app-framedata></app-framedata>

  </mat-sidenav-content>

</mat-sidenav-container>

<router-outlet></router-outlet>